@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
:root {
  --main-color: #01A9B4;
  --main-text-color: #ffffff;
  --title-text-color: #707070; 
}

*{
	margin: 0px;
	padding: 0px;
	/*font-family: sans-serif;*/
}

.conteiner{
  grid-gap: 10px;
  display: flex;
  flex-wrap: wrap;
}


.raphael-group-17-caption text, .raphael-group-89-caption text{
	fill: var(--title-text-color) !important;
	font-size: 20px !important;
	font-family: Roboto Condensed !important;
}

.txt-qtyBarrels{
	color: var(--main-color);
	font-size: 70px;
	font-weight: bold;
	/*color: #FAE96F;
	color: #F6C101;
	color: #EC9D00;
	*/
}

.content-barrels{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	min-width: 500px;
}

.content-temp{
	display: grid !important;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
	flex: 1;
	min-width: 500px;
}

.content-graphs{
	flex: 1 100%;
}

.content-descriptionTemHum{
	position: absolute;  
	width: 100%; 
	display: flex;  
	flex-direction: column; 
	text-align: center; 
	text-align: center; 
	background: #fff; 
	padding-bottom: 15px; 
	bottom: 0px; 
	border-radius: 20px;
}

#description-hum, #description-temp{
	font-size: 13px; 
	color: #848484;
}

#chart-temperature, #chart-humid{
	width: 100%; 
	height: 200px;
}

#chart-temperature-top{
	border-radius: 20px !important;
	position: relative;
}


