.content-barrels, .content-temp, .content-graphs, .content-summarySales, .content-sales, .graphs{
	border: 0.8px solid #BAD6D8;
	border-radius: 20px;
}


.conteiner{
	margin-left: 190px;
	padding: 60px 10px;
}

.card-options{
	background: #ffffff; 
	position: absolute; 
	z-index: 200; 
	border: 1px solid #707070; 
	border-radius: 5px; 
	box-shadow: 15px 15px 36px -8px rgba(0,0,0,0.46);
	display: none;
}