header{
	background: var(--main-color);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: 200;
}

#btn-navbar{
	position: absolute;
	cursor: pointer;
	left: 20px;
	display: none;
}

.txtNamePage{
	color: var(--main-text-color);
	font-size: 30px;
	font-weight: bold;
}

.user{
	position: absolute;
	cursor: pointer;
	right: 20px;
}

.content-option-acount{
	right: 5px; 
	margin-top: 5px; 
}

.option-card{
	padding: 4px 15px;
	cursor: pointer;
}

.option-card:hover{
	background: #A6F3F8;
}
