*{
	margin: 0px;
	padding: 0px;
	/*font-family: sans-serif;*/
}

.container-summary{
	display: grid;
	grid-gap: 10px;
	position: relative;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)) ;
	grid-template-rows: minmax(250px, 20%);
}

.conteiner-graphs{
	display: grid;
	grid-gap: 10px;
    padding: 10px;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}


.titleContent{
	color: var(--title-text-color);
	font-family: Roboto Condensed;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin-top: 5px;
}


#chart-summarySales, #chart-moreSalesDay{
	position: relative;
	height: calc(100% - 50px);
}


table thead{
	background: #67E5ED;
}

.option-Admin{
	background: #ffffff; 
	position: absolute; 
	right: 50%;
	top: 20px;
	margin-top: 5px; 
	z-index: 200; 
	border: 1px solid #707070; 
	border-radius: 5px; 
	box-shadow: 15px 15px 36px -8px rgba(0,0,0,0.46);
	display: none;
}


